# Node
**/node_moduleslog
**/dist
**/package-lock.json
**/.npmrc

# Entorno y secretos
**/.env.*
!**/.env.example

# Git
.git
.gitignore

# Logs
**/*.log
**/npm-debug.log*

# Editor / IDE
.vscode
.idea
*.swp

# Sistema
.DS_Store
Thumbs.db


#docker compose -f docker-compose.databases.yml -f docker-compose.microservices.yml up -d

# Varios a la vez con cambios 
#docker compose -f docker-compose.databases.yml -f docker-compose.microservices.yml up -d litetechne-auth litetechne-catalog litetechne-inventory litetechne-report 
/microservices

.gitignore
