**/node_modules/
**/.env
**/catalog-ms
**/package-lock.json


# docker run --name bd-lite-techne-report -e "ACCEPT_EULA=Y" -e "MSSQL_SA_PASSWORD=Admin1234@" -p 1435:1433 -d mcr.microsoft.com/mssql/server:2025-latest