PORT=3000
DOCKER=true

DB_HOST=localhost
DB_HOST_DOCKER=host.docker.internal
DB_PORT=5432
DB_USER=adminadmin
DB_PASSWORD=adminadmin
DB_NAME=bd-lite-techne
JWT_SECRET=secretodetest
SYNCHRONIZE=false
LOGGING=false

ROLE_1_ID=1
ROLE_1_NAME=admin
ROLE_1_DESCRIPTION=administrador del sistema

ROLE_2_ID=2
ROLE_2_NAME=cliente
ROLE_2_DESCRIPTION=persona que compra en la tienda

ROLE_3_ID=3
ROLE_3_NAME=vendedor
ROLE_3_DESCRIPTION=persona que vende productos

BASE_USER_FIRSTNAME=Freddy
BASE_USER_LASTNAME=Barahona
BASE_USER_EMAIL=admin@litetechne.com
BASE_USER_PASSWORD=Admin1234@
BASE_USER_ISACTIVE=true
