PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
JWT_SECRET=

ROLE_1_ID=1
ROLE_1_NAME=admin
ROLE_1_DESCRIPTION=administrador del sistema

ROLE_2_ID=2
ROLE_2_NAME=cliente
ROLE_2_DESCRIPTION=persona que compra en la tienda

ROLE_3_ID=3
ROLE_3_NAME=vendedor
ROLE_3_DESCRIPTION=persona que vende productos

BASE_USER_FIRSTNAME=
BASE_USER_LASTNAME=
BASE_USER_EMAIL=
BASE_USER_PASSWORD=
BASE_USER_ISACTIVE=true