PORT= 3002
DOCKER=true

#info de la BD
DB_HOST=localhost
DB_HOST_DOCKER=host.docker.internal
DB_PORT=1434
DB_USER=sa
DB_PASSWORD=Admin1234@
DB_NAME=inventoryDB
SYNCHRONIZE=false
LOGGING=false

#info de rabbitmq
RABBITMQ_URL=amqp://localhost
RABBITMQ_URL_DOCKER=amqp://host.docker.internal
